*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {

    height: 100%;
    background-color: #FFF2DB;
}

    main {
background-color: #FFF2DB;
flex: 1;
}

/* HEADER GENERAL */
header {
    background-color: #003092;
    color: #FFAB5B;
    display: flex;
    font-family: 'Raleway', sans-serif
}

header img{
    width:70px; 
    height: 10x;
    padding: 0;
}

/* NAV BAR  */

.nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color: #ffa500; 
    text-decoration: none;
    color: inherit;
    padding: 10px 30;
    margin: 0 10px;
    font-size: 25px;
}
.nav-item:hover {
    color: white;
}
.nav-text {
    display: inline; 
    font-size: 26px;
}
.nav-custom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    padding: 0 40px;
    background-color: #002f86; 
}
/* FOOTER GENERAL  */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0%;
    display: flex;   
    align-items: flex-end;
    text-align: left;
    background-color: #001f5b;
    position: end;
    color: white;
    padding: 8px 10px;
    font-size: 0.8rem;
    box-sizing: border-box;
}

footer ul{
    
    color: #FFAB5B;
    font-size: larger;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

footer li {
    margin: 5px 10px;
    flex: 1 1 auto;
    text-align: center; 
    padding: 5px;
    min-width: 100px;}

/* INDEX */
.carrouselindex{
display: flex;
justify-content: center;
align-items: center;
}

.carrousel-img{
    height: 600px;
}

/* MI PERFIL */
.mi_perfil {

    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.mi_perfil img {

width: 20%;
height: auto;

}

.mi_perfil textarea{

    display: flex;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 8px;
    overflow: auto;
    width: 600px;
    height: 300px;
}


/* GRID FIXTURE*/
.fixture {
display: grid;
grid-template-areas: 
"fechatitulo horatitulo localtitulo visitantetitulo"
"fecha1 hora1 local1 gimnasia"
"fecha2 hora2 gimnasia2 visitante2"
"fecha3 hora3 local3 gimnasia3";
grid-template-columns: 200px 200px 200px 200px;
grid-template-rows: 60px 60px 60px 60px;
column-gap: 10px;
row-gap: 10px;  
text-align: center;
justify-content: center;
border: solid black 2px;
}

.headerfecha .headerhora, .headerlocal, .headervisitante {
font-size: larger;

}

.headerhora{grid-area: fechatitulo;}
.headerfecha{grid-area: horatitulo;}
.headerlocal{grid-area: localtitulo;}
.headervisitante{grid-area: visitantetitulo;}
.gimnasia{grid-area: gimnasia;}
.gimnasia2{grid-area: gimnasia2;}
.gimnasia3{grid-area: gimnasia3;}
.hora1{grid-area: hora1;}
.hora2{grid-area: hora2;}s
.hora3{grid-area: hora3;}
.local1{grid-area: local1;}
.visitante2{grid-area: visitante2;}
.Local3{grid-area: local3;}
.fecha1{grid-area: fecha1;}
.fecha2{grid-area: fecha2;}
.fecha3{grid-area: fecha3;}


/* NOTICIAS */

.historia{
    display: flex;
    flex-direction: column;
}

.historia1{
    text-align: left;
    padding: 10px;
}

.historia2{
    padding: 10px;
    text-align: right;
}

.noticias {
    display: flex;
    flex-direction: column;
}

.articulo1 {
    text-align: left;
    padding: 10px;
}

.articulo2 {
    text-align: right;
    padding: 10pxc}

/* CONTACTO */
.numeros{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
}
.numeros body{ 
    background-color: #FFAB5B;
}
.accordion {
    margin-bottom: 50px; 
    min-height: 100vh;
    padding-top: 10px;
}

.container {
    padding top: 20px;
}

    /* MEDIA QUARIES */


@media (max-width: 480px) {

    /* FOOTER GENERAL RESPONSIVE */

    footer li, footer p {
        margin: 4px 6px;
        min-width: 70px;
        font-size: 0.15rem;
    }

    footer {
        padding: 15px 10px;
        font-size: 0.15rem;
        padding: 3px 5px;
    }
    footer ul {
        flex-direction: column;
        gap: 2px;
        font-size: 0.15rem;
    }

    /*  INDEX RESPONSIVE */
        .titulo_principal {
        font-size: 1.5rem;
        }
    
        #h1bienvenida {
        font-size: 1.2rem;
        }
    
        #h2bienvenida {
        font-size: 0.9rem;
        }
    }

@media (max-width: 767px) {
/* NAV RESPONSIVE */
    .nav-item {
    flex-direction: column;
    gap: 0;
        }
    
    .nav-text {
        display: none; 
        }
    
    .nav-custom {
        justify-content: center;
        padding: 10px;
        gap: 15px;
    }

    /* FIXTURES RESPONSIVE */
    .fixture {
        grid-template-columns: 1fr;
    }
    
    .header {
        display: none; /* opcional si no querés mostrar títulos */
    }
    
    .item {
        text-align: left;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .fixture > div:nth-child(4n + 1)::before { content: "Fecha: "; font-weight: bold; }
    .fixture > div:nth-child(4n + 2)::before { content: "Hora: "; font-weight: bold; }
    .fixture > div:nth-child(4n + 3)::before { content: "Local: "; font-weight: bold; }
    .fixture > div:nth-child(4n + 4)::before { content: "Visitante: "; font-weight: bold; }
    
    }