// Mixin para centrar con flex
@mixin centrado-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Placeholder para botones base
%btn-base {
    font-family: $fuente-secundaria;
    padding: 12px 24px;
    font-size: 1.3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}