$color-fondo: #FFF2DB;
$color-principal: #FFAB5B;
$color-secundario: #003092;
$color-titulos: #001f5b;
$naranja-hover: #f57700;

$fuente-principal: 'Raleway', sans-serif;
$fuente-secundaria: 'Bebas Neue', sans-serif;
